body{
      margin: 0px;
      padding: 0px;
      width: 100%;
      overflow-y: hidden;
      background-color: #f7f7f7;
}
.container{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;

}
.storefront{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	background-image: url('res/prototype/storefront_template_2.jpg');
	height: 100%;
	background-size: 100% auto;
	background-position: bottom;
}
.display{
	position: relative;
	top: 250px;
	left:30%;
	width: 600px;
	height: 350px;
	background-color: red;
}

#store_1{
  left: 0px;
}
#store_2{
  left: 100vw;

}
