
ul {
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	margin: 0 auto;
	width: 100vw;
}

.scene {
	display: block;
	width: 100%;
}
body {
	margin: 0;
	padding: 0;
}

.layer {
	position: absolute;
	width: 1050px;
	height: 575px;
}

.storefront-stage {
	width:100%;
	height: 100vh;
	overflow: scroll;
	overflow-y: hidden;
	overflow-x: hidden;

}

.storefront-wrapper {
	position: relative;
	-webkit-perspective: 50;
	-webkit-transform-style: preseve-3d;
	overflow-y: hidden;
	overflow-x: hidden;
}
.storefront {
	width: 1500px;
	height: 1000px;
	background: yellow;
	position: relative;
	-webkit-transform-origin: bottom left;
	-webkit-transition: 0.4s;

}


/* cleafix */
.storefront:after {
	content: "";
	display: table;
	clear: both;
}

.display-wrapper {
	position: absolute;
	bottom: 100px;
}

.display-container {
	float: left;
/*	position: absolute;
*/	
width: 1000px;
height: 500px;
position: relative;
padding-left: 10px;
/*	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);*/
/*	transform-origin:left top;
*/
}

.display {
	position: relative;
	background-color: purple;
	width: 100%;
	height: 100%;
}

.display-item {
	position: absolute;
}

.item-test {
	position: absolute;	
	/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);*/
}

.layer-0 {
	background-image: url(img/display1/buildings-front.png);
	width: 461px;
	height: 377px;
	background-size: 461px 377px;
	top: 200px;
	left: 50px;
	z-index: 7;
}

.layer-1 {
	background-image: url(img/display1/buildings-back.png);
	width: 366px;
	height: 274px;
	background-size: 366px 274px;
	bottom: 30px;
	left: 140px;
	z-index: 6;
}

.layer-2 {
	background-image: url(img/display1/cars.png);
	width: 132px;
	height: 479px;
	background-size: 132px 479px;
	top: 153px;
	left: 500px;
	z-index: 5;
}

.layer-4 {
	background-image: url(img/display1/oyster.png);
	width: 354px;
	height: 127px;
	background-size: 354px 127px;
	z-index: 3;
	top: 180px;
	left: 90px;
}
.layer-5 {
	background-image: url(img/display1/oyster-symbol.png);
	width: 79px;
	height: 67px;
	background-size: 79px 67px;
	z-index: 2;
	top: 530px;
	left: 665px;
}
.layer-6 {
	background-image: url(img/display1/transport-for-london.png);
	width: 354px;
	height: 32px;
	background-size: 354px 32px;
	z-index: 1;
	top: 540px;
	left: 120px;
}
.layer-7 {
	background-image: url(img/display1/card.png);
	width: 738px;
	height: 467px;
	background-size: 738px 467px;
	z-index: 0;
	top: 156px;
	left: 54px;
}
.item-test {

}

.overlay {
	width: 100%;
	height: 100%;
	margin-top: 100vh;
	background-color: rgba(100, 0, 0, 0.5);
	position: fixed;
	z-index: 1;
}

.overlay-content {
	width: 50%;
	height: 50%;
	
	margin-top: 25vh;
	margin-left: 25vw;
	position: fixed;
}

.paging-indicator {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	height: 56px;
	z-index: 100;
}

.indicator-line {
	fill:none;
	stroke:#BE1E2D;
	stroke-width:4;
	stroke-miterlimit:10;
}
.indicator{
	fill:#FFFFFF;
	stroke:#000000;
	stroke-width:4;
	stroke-miterlimit:10;
	cursor: pointer;
}
.indicator.active{
	fill:#000000;
	stroke:#FFFFFF;
	stroke-width:4;
	stroke-miterlimit:10;
}

#oc-1 {

	background-color: blue;
	visibility: hidden;
}

#oc-2 {
	background-color: green;
	visibility: hidden;
}
